body {
  background-image: url(/images/pizza-background.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}
.jumbotron {
  height:10px;
  background-color: wheat;
}
.card {
  width: 30%;
  background-color: white;
  opacity:0.9;
  margin-right:10%;
  float: left;
}
.MakeYourOrder {
  margin-right: 20%;
  margin-left:2%;
  margin-bottom: 2%;
}
#PizzaSelection {
  margin-right: 10%;
  margin-left:2%;
  margin-bottom: 2%;
}
#PizzaSize {
  margin-right: 10%;
  margin-left:2%;
  margin-bottom: 2%;
}
.ExtraToppings {
  margin-right: 10%;
  margin-left:2%;
  margin-bottom: 2%;
}
.PizzaQuantity {
  margin-right: 10%;
  margin-left:2%;
  margin-bottom: 2%;
}
.Custom-PreferredToppings {
  display: none;
}
.orderSummary {
  display:none;
  margin-right: 20%;
  margin-left:2%;
  margin-bottom: 2%;
  margin-top: 1%;
  background-color: white;
  opacity:0.9;
  width:30%;
  height:flex;
  float: right;
}
.customerContactDetails {
  display:none;
}
